<!--
  Generated template for the APropos page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>aPropos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  Bienvenue,
  J'espère que cette application vous aidera a progresser en danse :)
  En cas de problème contacter moi!




  <ion-card>
    <ion-card-content>
      <img src="assets/logo-uni.png"/>
    </ion-card-content>
  </ion-card>
  Application proposée par Pellet Mélodie.<br/>
  Adresse mail : melodie.pellet@etu.univ-savoie.fr

</ion-content>
