<ion-header>
  <ion-navbar>
    <ion-title>
      Où ?
      <button [navPush]="APropos">
        <ion-icon name="bulb"></ion-icon>
      </button>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div #map id="map" style="height:100%;" ></div>





</ion-content>
