<ion-header>
  <ion-navbar>
    <ion-title>Home
      <button [navPush]="APropos">
        <ion-icon name="bulb"></ion-icon>
      </button>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding (pan)="panEvent($event)" overflow-scroll="true" >
  <ion-searchbar (ionInput)="onSearchUpdated($event)" ></ion-searchbar>
  {{nbVideo}} vidéos trouvées
  <ion-list>
    <ion-item *ngFor="let video of videos">
      <iframe *ngIf="!video.isLocal" width="100%" height="360" [src]="video.url" frameborder="0" allowfullscreen >
      </iframe>
      <video [src]="video.url" [attr.type]="video.type" controls="true" width="100%" ></video>
    </ion-item>
  </ion-list>
</ion-content>
