page-home {

}

input {
  outline:0;
  border:0;
  margin:0;
  height:24px;
  float:left;
  display:block;
}
iframe{
  width:100%;
  height:360px;
  frameborder:0 px;
}

ion-buttons{
  margin-bottom: 5%;
  margin-left: 2%;
  margin-right: 70%;
}


.loupe {
  background:url(http://www.larevuedekenza.fr/wp-content/themes/quarter/images/sidebar/loupe.png) no-repeat 0 0;
  width:100px;
}

ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}

home-page {

  #map {
    height: 100%;
  }

}
