<ion-header>
  <ion-navbar>
    <ion-title>
      Notes
      <button [navPush]="APropos">
        <ion-icon name="bulb"></ion-icon>
      </button>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content [formGroup]="formGroup">
    <ion-textarea formControlName="note"  placeholder="Entrez vos notes"></ion-textarea>
</ion-content>

